@model IEnumerable<Datatable.DBModel.Employee>
@{
    Layout = "../Shared/_LayoutPage1.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        @{
            Html.RenderPartial("ListView", Model);
        }
    </div>

    <script>
        $(document).ready(function () {
            getJSON();
        });
        function getJSON() {
            $.ajax({
                method: 'GET',
                url: 'https://jsonplaceholder.typicode.com/users',
                dataType: 'json',
                success: Onsuccess,
                error: Onerror,
            });
        }

        function Onsuccess(json) {
            console.log(json);
        }
        function Onerror() {
            cosnole.log('error');
        }
    </script>
</body>
</html>
